.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-image {
  width: 242px;
  height: 75px;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image01 {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container02 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-text {
  color: #072b73;
  font-size: 3rem;
  max-width: 450px;
}
.home-text01 {
  color: rgb(7, 43, 115);
  font-size: 1.25rem;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-image02 {
  width: 50%;
  object-fit: cover;
}
.home-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url("/playground_assets/1.1-1500w.png");
  background-position: center;
}
.home-text06 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text07 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-container04 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-fourunits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-feature-card:hover {
  transform: scale(1.02);
}
.home-image03 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-text15 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-feature-card1:hover {
  transform: scale(1.02);
}
.home-image04 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-text19 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text20 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-feature-card2:hover {
  transform: scale(1.02);
}
.home-image05 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-text24 {
  color: var(--dl-color-gray-white);
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text25 {
  margin-bottom: var(--dl-space-space-twounits);
}
.home-features {
  width: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.home-text29 {
  color: rgb(7, 43, 115);
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text30 {
  color: #072b73;
  font-size: 1.2rem;
}
.home-separator {
  width: 100px;
  height: 2px;
  background-color: var(--dl-color-gray-500);
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container06 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text41 {
  color: #072b73;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text42 {
  color: #072b73;
}
.home-feature-card4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container08 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text46 {
  color: #072b73;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text47 {
  color: #072b73;
}
.home-feature-card5 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container09 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text48 {
  color: #072b73;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text49 {
  color: #072b73;
}
.home-feature-card6 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container10 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text50 {
  color: #072b73;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text51 {
  color: #072b73;
}
.home-image06 {
  width: 450px;
  height: 450px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
.home-banner1 {
  width: 100%;
  height: 625px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url("/playground_assets/road-700h.png");
  background-position: center;
}
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-hero1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image07 {
  width: 827px;
  object-fit: cover;
}
.home-container12 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-image08 {
  width: 100px;
  object-fit: cover;
}
.home-text52 {
  color: #072b73;
  margin-top: 0px;
  font-weight: 600;
  margin-bottom: 0px;
}
.home-text53 {
  color: #072b73;
  font-size: 1.2rem;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-image09 {
  width: 100px;
  object-fit: cover;
}
.home-text61 {
  color: #072b73;
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text62 {
  color: #072b73;
  font-size: 1.2rem;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-container13 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  justify-content: center;
}
.home-container14 {
  flex: 1;
  width: 803px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text68 {
  color: rgb(7, 43, 115);
  font-size: 2rem;
}
.home-text72 {
  color: #072b73;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
}
.home-text73 {
  color: #072b73;
  font-size: 1.5rem;
}
.home-text74 {
  color: #072b73;
  font-size: 1.5rem;
}
.home-text75 {
  color: #072b73;
  font-size: 1.5rem;
}
.home-container15 {
  flex: 1;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-container16 {
  flex: 1;
  width: 100%;
  height: 450px;
  display: flex;
  padding: 0px;
  max-width: 450px;
  min-width: 100%;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
}
.home-container16:hover {
  transform: scale(1.02);
}
.home-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-image10 {
  top: -6px;
  left: 435px;
  width: 100px;
  position: absolute;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-color: #f1f0f0;
  border-width: 10px;
  border-radius: 50%;
}
.home-text76 {
  color: rgb(7, 43, 115);
  margin: var(--dl-space-space-halfunit);
  font-size: 2rem;
  font-weight: 200;
}
.home-text77 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}
.home-text79 {
  font-style: normal;
  font-weight: 700;
}
.home-text80 {
  color: rgb(7, 43, 115);
  font-size: 1.5rem;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-banner2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url("/playground_assets/2.1-1500w.png");
  background-position: center;
}
.home-text86 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text87 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-pricing {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  justify-content: center;
  background-color: #f5f5f5ff;
}
@media(max-width: 1600px) {
  .home-image {
    height: 4rem;
  }
  .home-text {
    color: rgb(7, 43, 115);
    font-size: 3.2rem;
  }
  .home-text01 {
    color: rgb(7, 43, 115);
    font-size: 1.2rem;
  }
  .home-banner {
    background-size: cover;
    background-image: url("/playground_assets/1.1-1500w.png");
  }
  .home-text06 {
    color: var(--dl-color-gray-white);
    font-size: 3rem;
    align-self: stretch;
  }
  .home-text07 {
    color: var(--dl-color-gray-white);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
  }
  .home-text13 {
    font-style: normal;
    font-weight: 500;
  }
  .home-text14 {
    font-style: normal;
    font-weight: 500;
  }
  .home-container04 {
    align-self: stretch;
  }
  .home-text29 {
    color: #072b73;
    font-size: 3rem;
  }
  .home-text30 {
    color: #072b73;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
  }
  .home-banner1 {
    width: 100%;
    height: 527px;
    align-self: flex-start;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: cover;
    background-image: url("/playground_assets/road-700h.png");
  }
}
@media(max-width: 1200px) {
  .home-image {
    height: 4rem;
  }
  .home-hero {
    align-items: flex-start;
  }
  .home-container02 {
    width: 706px;
    align-self: center;
    margin-right: 0px;
    padding-right: var(--dl-space-space-unit);
  }
  .home-text {
    color: #072b73;
  }
  .home-text01 {
    color: rgb(7, 43, 115);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
  }
  .home-image02 {
    align-self: center;
  }
  .home-text07 {
    font-size: 1.5rem;
  }
  .home-image03 {
    width: auto;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
  }
  .home-text15 {
    color: var(--dl-color-gray-white);
    align-self: center;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    text-align: center;
    font-weight: 500;
  }
  .home-image04 {
    align-self: center;
    margin-top: var(--dl-space-space-unit);
  }
  .home-text19 {
    color: var(--dl-color-gray-white);
    align-self: center;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    text-align: center;
    font-weight: 500;
  }
  .home-text20 {
    align-self: center;
    margin-top: var(--dl-space-space-twounits);
  }
  .home-image05 {
    align-self: center;
    margin-top: var(--dl-space-space-unit);
  }
  .home-text24 {
    color: var(--dl-color-gray-white);
    align-self: center;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    text-align: center;
    font-weight: 500;
  }
  .home-text25 {
    margin-top: var(--dl-space-space-unit);
    text-align: center;
  }
  .home-text29 {
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-text30 {
    color: rgb(7, 43, 115);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
  }
  .home-feature-card3 {
    padding-left: 16px;
  }
  .home-text41 {
    color: #072b73;
    font-weight: 600;
  }
  .home-text42 {
    color: #072b73;
  }
  .home-text46 {
    color: #072b73;
    font-weight: 600;
  }
  .home-text47 {
    color: #072b73;
  }
  .home-text48 {
    color: #072b73;
    font-weight: 600;
  }
  .home-text49 {
    color: rgb(7, 43, 115);
  }
  .home-text50 {
    color: #072b73;
    font-weight: 600;
  }
  .home-text51 {
    color: #072b73;
  }
  .home-image06 {
    align-self: flex-start;
  }
  .home-banner1 {
    width: 100%;
    height: 393px;
  }
  .home-image07 {
    width: 40rem;
  }
  .home-container12 {
    flex: 1;
    align-self: center;
  }
  .home-text52 {
    color: #072b73;
    font-weight: 600;
  }
  .home-text53 {
    color: #072b73;
    font-size: 1.2rem;
  }
  .home-text61 {
    color: #072b73;
    margin-top: 0px;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .home-text62 {
    color: #072b73;
    font-size: 1.2rem;
  }
  .home-container14 {
    flex: 1;
    width: 540px;
    height: 395px;
    flex-wrap: wrap;
    align-self: center;
    margin-right: 0px;
  }
  .home-text68 {
    color: #072b73;
    font-style: normal;
    font-weight: 800;
  }
  .home-ul {
    flex: 0;
  }
  .home-li1 {
    font-size: 1.2rem;
  }
  .home-text72 {
    color: #072b73;
    width: 100%;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    line-height: 1.25;
  }
  .home-li2 {
    font-size: 1.2rem;
  }
  .home-text73 {
    color: #072b73;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
  }
  .home-li3 {
    font-size: 1.2rem;
  }
  .home-text74 {
    color: #072b73;
    font-style: normal;
    font-weight: 500;
  }
  .home-li4 {
    font-size: 1.2rem;
  }
  .home-text75 {
    color: #072b73;
    font-style: normal;
    font-weight: 500;
  }
  .home-container15 {
    flex: 1;
    width: 352px;
    align-items: stretch;
  }
  .home-container16 {
    align-self: center;
    align-items: flex-start;
  }
  .home-image10 {
    top: var(--dl-space-space-halfunit);
    left: 350px;
    right: px;
    width: var(--dl-size-size-medium);
    margin: auto;
    z-index: 100;
    align-self: flex-end;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: #fbfafa;
    border-width: 2px;
    border-radius: 35%;
  }
  .home-text76 {
    color: #072b73;
    margin: var(--dl-space-space-unit);
    font-size: 2rem;
    align-self: flex-start;
    text-align: left;
    font-weight: 700;
  }
  .home-text77 {
    font-size: 1.5rem;
    font-style: inherit;
    font-weight: 600;
  }
  .home-text78 {
    font-style: normal;
  }
  .home-text79 {
    font-style: normal;
  }
  .home-text80 {
    color: rgb(7, 43, 115);
    font-size: 1.5rem;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    text-align: left;
    font-weight: 500;
    line-height: 1.2;
  }
  .home-text81 {
    font-style: inherit;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 500;
  }
  .home-banner2 {
    background-size: cover;
    background-image: url("/playground_assets/1.1-1500w.png");
  }
  .home-text86 {
    color: var(--dl-color-gray-white);
    font-size: 3rem;
  }
  .home-text87 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
  .home-container02 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-text {
    text-align: center;
  }
  .home-text01 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-text07 {
    width: 100%;
  }
  .home-container04 {
    grid-template-columns: 1fr 1fr;
  }
  .home-features {
    align-items: center;
  }
  .home-container05 {
    flex-direction: column;
  }
  .home-image06 {
    width: 300px;
    height: 300px;
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
  }
  .home-hero1 {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-image07 {
    order: 2;
  }
  .home-container12 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text52 {
    text-align: center;
  }
  .home-text53 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .home-text61 {
    text-align: center;
  }
  .home-text62 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .home-container13 {
    align-items: center;
    flex-direction: column;
  }
  .home-container14 {
    align-items: center;
  }
  .home-container15 {
    width: 100%;
  }
  .home-text87 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-nav {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image02 {
    width: 80%;
  }
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text07 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text29 {
    text-align: center;
  }
  .home-container05 {
    flex-direction: column;
  }
  .home-feature-card3 {
    flex-direction: row;
  }
  .home-container07 {
    flex-direction: column;
  }
  .home-feature-card4 {
    flex-direction: row;
  }
  .home-container08 {
    flex-direction: column;
  }
  .home-feature-card5 {
    flex-direction: row;
  }
  .home-container09 {
    flex-direction: column;
  }
  .home-feature-card6 {
    flex-direction: row;
  }
  .home-container10 {
    flex-direction: column;
  }
  .home-banner1 {
    width: 100%;
    height: 264px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-image07 {
    width: 80%;
  }
  .home-container13 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container15 {
    flex-direction: column;
  }
  .home-container16 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-banner2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text87 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .home-icon {
    width: auto;
    justify-content: space-between;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text01 {
    color: rgb(7, 43, 115);
    width: 100%;
    font-size: 1rem;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-container03 {
    align-items: center;
    flex-direction: column;
  }
  .home-container04 {
    grid-template-columns: 1fr;
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text30 {
    color: rgb(7, 43, 115);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
  }
  .home-container06 {
    grid-template-columns: 1fr;
  }
  .home-container07 {
    flex-direction: column;
  }
  .home-container08 {
    flex-direction: column;
  }
  .home-container09 {
    flex-direction: column;
  }
  .home-container10 {
    flex-direction: column;
  }
  .home-image06 {
    width: 250px;
    height: 250px;
  }
  .home-banner1 {
    width: 100%;
    height: 160px;
    align-items: flex-end;
    padding-top: 0px;
    padding-left: 0px;
    margin-bottom: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: space-between;
  }
  .home-container11 {
    align-items: center;
    flex-direction: column;
  }
  .home-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text53 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text62 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container13 {
    position: relative;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-li1 {
    width: auto;
  }
  .home-text72 {
    color: rgb(7, 43, 115);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
  }
  .home-text73 {
    font-size: 1rem;
  }
  .home-text74 {
    font-size: 1rem;
  }
  .home-text75 {
    font-size: 1rem;
  }
  .home-image10 {
    top: 11px;
    right: 22px;
    width: 72px;
    height: 66px;
  }
  .home-banner2 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text86 {
    font-size: 2rem;
  }
  .home-text87 {
    font-size: 1rem;
  }
}
